$frameColor = #551416
$size = 459px
.side
  &__top
    width $size
    height 30px
    border-top 1px solid black
    background-color $frameColor
  &__right
    position absolute
    right 0
    top 0
    height $size
    width 30px
    border-right 1px solid black
    background-color $frameColor
