$ligthGrey = #e9e9e9
$green = #008a00
$size = 15px

.cells-area__cell
  height $size
  width $size
  display inline-block
  margin 0 1px
  background $ligthGrey
  &_active
    background $green
  &:hover
    cursor pointer