.board
  width 465px
  margin 40px auto
  position relative


.top-side
  width 465px
  height 30px
  border-top 1px solid black

.right-side
  position absolute
  right 0
  top 0
  height 465px
  border-right 1px solid black
